.tests-history {
  font-size: 16px;
  color: #1C1A26;

  &__title {
    font-size: 18px;
    padding: 10px 0;
  }

  &__table {
    border-collapse: collapse;
  }

  &__item {
    width: 600px;
    box-sizing: border-box;

    &--right {
      background-color: #acfcac;
    }
  }

  &__word {
    width: 300px;
    padding: 5px;
    border: 5px solid #fff;

    &--title {
      font-weight: 700;
    }
  }
}