.vocabulary {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #1C1A26;

  &__table {
    border-collapse: collapse;
  }

  &__item {
    width: 600px;
    box-sizing: border-box;
    
  }

  &__word {
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border: 5px solid #fff;

    &:last-child {
      width: 40px;
      padding: 0;
      text-align: center;
    }
  }

  &__button {
    color: #1e5fc0;
    background-color: #fff;
    border: 1px solid #2d76aa;
    border-radius: 4px;
    cursor: pointer;
  }
}