.app {
  margin: 0;
  padding: 40px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #d2f1eb7e;
  display: flex;
  gap: 80px;
  box-sizing: border-box;
}

.page {
  &__title {
    padding-bottom: 40px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 42px;
    color: #1e5fc0;
    text-transform: uppercase;
  }

  &__description {
    max-width: 600px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;

    &--main {
      padding: 0;
      color: #1e5fc0;
    }
  }
}
